@namespace ChatGpt.Shared

@inject ChatGptJsInterop ChatGptJsInterop

<div id="content">
    @if (Messages != null)
    {
        @foreach (var item in Messages)
        {
            <MCard Class="message">
                @if (item.ChatGpt)
                {
                    <MCardTitle>
                        <MAvatar>
                            <MImage Src="https://tokeniot.oss-cn-shenzhen.aliyuncs.com/icon/logo.png" Alt="Jack"></MImage>
                        </MAvatar>
                    </MCardTitle>
                }
                else
                {
                    <MCardTitle>
                        <MAvatar>
                            <MImage 
                                Src="@(string.IsNullOrEmpty(ChatGptOptions?.Avatar) ? "https://blog-simple.oss-cn-shenzhen.aliyuncs.com/Avatar.jpg" : ChatGptOptions.Avatar)" Alt="Jack"></MImage>
                        </MAvatar>
                    </MCardTitle>
                }
                <MCardText>
                    <MCard MinHeight="40" Class="container" Outlined>
                        <MButton Icon OnClick="async () => await OnCopy.InvokeAsync(item)" Class="top-button">
                            <MIcon>mdi-content-copy</MIcon>
                        </MButton>
                        <MMarkdownIt Style="margin: 5px; min-height: 10px" Source="@item.Content" Class="markdown-parser__basic"/>
                    </MCard>
                </MCardText>
            </MCard>
        }
    }
</div>

<style>
    .m-navigation-drawer__content::-webkit-scrollbar {
        width: 0 !important;
    }

    .message {
        margin: 5px;
    }

    .m-sheet.m-card:not(.m-sheet--outlined) {
        box-shadow: none !important;
    }

    .markdown-parser__basic img {
        max-width: 100%;
    }

    .markdown-parser__basic blockquote {
        border-left: 4px lightgray solid;
        padding-left: 16px;
    }

    html {
        overflow-y: auto;
    }

    .container {
        position: relative;
    }

    .top-button {
        position: absolute;
        top: 0;
        right: 0;
    }
</style>